\documentclass[((% if user_config.typography.fontsize %))((* user_config.typography.fontsize *)),((% endif %))((* user_config.class_options|join(',') *))]{((* user_config.document_class *))}

((% if user_config.typography.language %))
\usepackage[((* user_config.typography.language *))]{babel}
((% endif %))
((% for pkg in user_config.style_packages %))
\usepackage{((* pkg[:-4] if pkg.endswith('.sty') else pkg *))}
((% endfor %))
((% if user_config.page_geometry %))
\usepackage[((% for key, val in user_config.page_geometry.items() %))((* key *))=((* val *))((% if not loop.last %)),((% endif %))((% endfor %))]{geometry}
((% endif %))
((% if user_config.typography.mainfont %))
\setmainfont{((* user_config.typography.mainfont *))}
((% endif %))
((% if user_config.typography.line_spacing %))
\linespread{((* user_config.typography.line_spacing *))}
((% endif %))
((% for line in user_config.preamble_includes %))
((* line *))
((% endfor %))

\graphicspath{{((* source_dir *))}}
\title{((* metadata.title|latex *))}
\author{((* metadata.author|latex *))}
\date{((* metadata.date|latex *))}

\begin{document}

\begin{titlepage}
  \centering
  \vspace*{1.8cm}
  {\LARGE\bfseries ((* metadata.title|latex *))\par}
  ((% if metadata.subtitle %))
  \vspace{0.4cm}
  {\large ((* metadata.subtitle|latex *))\par}
  ((% endif %))
  \vfill
  ((% if metadata.client %))
  {\normalsize Cliente/Projeto: ((* metadata.client|latex *))\par}
  \vspace{0.15cm}
  ((% endif %))
  {\normalsize Tipo de documento: ((* metadata.document_type|latex *))\par}
  {\normalsize Autor: ((* metadata.author|latex *))\par}
  {\normalsize Versão: ((* metadata.version|latex *))\par}
  ((% if metadata.status %))
  {\normalsize Status: ((* metadata.status|latex *))\par}
  ((% endif %))
  {\normalsize Data: ((* metadata.date|latex *))\par}
  \vspace*{1.2cm}
\end{titlepage}

((% if meeting_minutes %))
\section*{Identificação da Reunião}
\begin{tabular}{ll}
Cliente/Projeto: & ((* metadata.client|latex *))\\
Produtor/a: & ((* metadata.author|latex *))\\
Data: & ((* metadata.date|latex *))\\
Período: & ((* meeting_minutes.period_start|latex *)) -- ((* meeting_minutes.period_end|latex *))\\
\end{tabular}

((% if meeting_minutes.client_participants %))
\subsection*{Participantes do Cliente}
\begin{tabular}{ll}
Nome & Cargo/Função\\
((% for participant in meeting_minutes.client_participants %))
((* participant.name|latex *)) & ((* participant.role|latex *))\\
((% endfor %))
\end{tabular}
((% endif %))

((% if meeting_minutes.netra_participants %))
\subsection*{Participantes da Netra}
\begin{tabular}{ll}
Nome & Cargo/Função\\
((% for participant in meeting_minutes.netra_participants %))
((* participant.name|latex *)) & ((* participant.role|latex *))\\
((% endfor %))
\end{tabular}
((% endif %))
((% endif %))

((% if meeting_minutes and meeting_minutes.has_no_pending_items %))
\section*{Pendências}
Sem pendências
((% endif %))

((% if toc %))
\mdtexTableOfContents
((% endif %))

((* body *))

\end{document}
